body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game {
    display: none; 
    flex-direction: column;
    align-items: center;
}

.hand {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.card {
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px; 
    height: 140px;
    background-color: white;
}


#hitButton, #standButton {
    padding: 10px 15px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
}

.text-div {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: max-content; 
}
